@charset "utf-8";

// Import a Google Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Sets your brand colors
$yellow: #e9d758;
$skobeloff: #297373;
$coral: #272727;
$platinum: #e6e6e6;
$onyx: #202020;
$pink: #fa7c91;
$orange: #ff9901;

// Update's Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$grey-dark: $onyx;
//$grey-light: $skobeloff;
$white-ter: $pink;
$grey-lighter: $coral;
$link: $orange;
$primary: $yellow;
$warning: $onyx;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update's some of Bulma's component variables
$body-background-color: $onyx;
$control-border-width: 5px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass";